<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>lakme is best beauty product seller and we have lots of varity products based on their skin type</h1>
        <h2>{{p1}}</h2>
        <h2>{{p2}}</h2>
        <h3>{{p3}}</h3>
        <h2>{{l1}}</h2>
        <h3>{{l2}}</h3>
        <h4>{{l3}}</h4>
    </center>
</body>
</html>